@model mini_projet.Models.ViewModels.CreateViewModelProd

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-center text-secondary mt-4">Create Product</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create" class="ms-5">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Nom" class="control-label mb-2"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Prix" class="control-label mb-2"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CategorieId" class="control-label mb-2"></label>
                <select asp-for="CategorieId" class ="form-control" asp-items="ViewBag.CategorieId"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Quantite" class="control-label mb-2"></label>
                <input asp-for="Quantite" class="form-control" />
                <span asp-validation-for="Quantite" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Image" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Image" class="form-control custom-file-input">
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}